[Desktop Entry]
Version=1.0
Name=Message Aggregator
Comment=Amateur Radio Weak Signal Operating
Exec=message_aggregator
Icon=wsjtx_icon
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=AudioVideo;Audio;HamRadio;
StartupNotify=true
